--pre
#--index-url https://download.pytorch.org/whl/nightly/cpu
--extra-index-url https://download.pytorch.org/whl/nightly/cu118
lit-gpt@ git+https://github.com/Lightning-AI/lit-gpt.git
torch>=2.1.0dev
pandas
jsonargparse
huggingface-hub
pydantic==1.10.8
